*{
    background-color: rgb(129, 112, 112);
    margin: 0rem auto;
    padding: 0rem;
    position: relative;

    max-width: 1400px;
    background-color: transparent;
    /* overflow: hidden; */
    text-align: center;




}
.body{
    background-color: black;
}

.menu{
    max-width: 1400px;
    height: 700px;
    background-image: url('../asset/background1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    display: block;
    padding: 1.2rem;

    margin-bottom: 1.5rem;
    background-color: black;
    color: red;
    opacity: 90%;
    font-size: 2rem;
    border-radius: 2rem;
}
button:hover{
    color: black;
    opacity: 50%;

    background-color: red;
    transition: all .3s ease-in;
}

h1 {
    display: block;
    padding: 1.2rem;

    margin-bottom: 1.5rem;
    background-color: black;
    color: red;
    opacity: 90%;
    font-size: 2rem;
    border-radius: 2rem;

}
/* h2 {
    display: block;
    padding: 1.2rem;

    margin-bottom: 1.5rem;
    background-color: black;
    color: red;
    opacity: 90%;
    font-size: 2rem;
    border-radius: 2rem;

} */
div p{
    display: block;
    padding: 0.5rem;
    text-align: center;

    margin-bottom: 0.5rem;
    background-color: black;
    color: red;
    opacity: 90%;
    font-size: 2rem;
    border-radius: 2rem;

}


.settingpage{
    display: none;
    background-color: rgb(136, 6, 6);
    color: black;
    font-size: 20px;

    padding: 1rem;
    margin-top: 1rem;
}
.namebox{
    display: block;

}
#towinscore{
    display: block;
}